@import url("https://fonts.googleapis.com/css2? family= Amatic+SC & family= Cinzel:wght@400;500;600;700;800;900 & family= Indie+Flower & família= Marcador+Permanente & família= Sigmar & família= Vollkorn:wght@400;500;600;700 & display=swap");

* {
  margin: 0;
  padding: 0;
}


/*----------------------------- IMAGEM INICIAL-----------------------------------*/

  html, body{
    background: url(https://img.freepik.com/fotos-gratis/girassois-linda-flor-no-campo_53876-14214.jpg?w=900&t=st=1683335303~exp=1683335903~hmac=9225810395c225d748467d820d3e23ff7acc5f40cd09ea3eb5d44dfbfe7264ce)
    no-repeat 65% 45%;
    width: 100%;
    height: 100vh;
  background-size: cover;
  background-blend-mode: multiply;
  background-color:rgba(251, 226, 0, 0.734);
}

.inicio {
  height: 100vh;
  margin-left: 50%;
  border-radius: 3%;
  background-color:rgba(75, 35, 4, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wel-text {
  text-align: center;
}

.h1-title {
  font-family: "Able", sans-serif;
  font-size: 700%;
  color:rgb(251, 227, 0);
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}

.h3-title {
  font-family: "Vollkorn", "Cinzel", "Comfortaa";
  font-size: 225%;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
  line-height: 40px;
}

/*------------------------------  TEXTOS MEIO  ------------------------------------*/

.meio {
  background-color: #621708;
   display: flex;
  justify-content: center;
 align-items: center;
}

.text{
 margin-left: 4%;
}

#text-1,
#text-2,
#text-3 {
  font-family: "EB Garamond", serif, "Comfortaa";
  line-height: 1.5em;
  text-align: justify;
  color: wheat;
  margin-bottom: 3%;
  font-size: 1.1em;
}

#text-1::first-letter,
#text-2::first-letter,
#text-3::first-letter,
#text-dados::first-letter,
#paragrafo_grafico03::first-letter {
  font-family: "Kanit", sans-serif;
  font-size: 6.5em;
  font-weight: 700;
  float: left;
  line-height: 80px;
  margin-right: 1rem;
  color: #f48c06;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.meio img {
  filter: drop-shadow(20px -8px 21px #000000);
}


/*------------------- SESSÃO DOIS ---------------------------*/

.sessao-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.sessao-2 .container {
margin-top: 2%;
margin-bottom: 2%;
}

.card-s2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 7px 40px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: 0.6s;
  padding: 20px;
  margin-bottom: 2%;
}

.card-s2:hover {
  transform: scale(0.8)
}

.card-s2 img {
  width: 60px;
}


/*----------------------------- FOOTER -----------------------------------*/

.footer{
  background-color: #621708;
  text-align: center;
  color: wheat;
}


/*------------------- VOLTAR AO TOPO ---------------------------*/

button {
  position:absolute;
top: 390%;
  left: 0.5%;
  border-radius: 4px;
  border: none;
  padding: 15px 32px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  font-size: 20px;
}


/*----------------------------- SCROLL -----------------------------------*/
::-webkit-scrollbar {
  width: 10px;
} /* tamanho da linha*/

::-webkit-scrollbar-track {
  background-color: #d1c33d;
} /* cor de fundo do scrool*/

::-webkit-scrollbar-thumb {
  background-color: #322b17;
  border-radius: 20px;
} /* cor da barra de rolagem*/
