@import url("https://fonts.googleapis.com/css2? family= Amatic+SC & family= Cinzel:wght@400;500;600;700;800;900 & family= Indie+Flower & família= Marcador+Permanente & família= Sigmar & família= Vollkorn:wght@400;500;600;700 & display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: url(https://img.freepik.com/fotos-gratis/girassois-linda-flor-no-campo_53876-14214.jpg?w=900&t=st=1683335303~exp=1683335903~hmac=9225810395c225d748467d820d3e23ff7acc5f40cd09ea3eb5d44dfbfe7264ce)
    no-repeat 65% 80%;
  background-size: cover;
  background-color: rgb(249, 221, 221);
  background-blend-mode: multiply;
  overflow-x: hidden;
}

/*----------------------------- NAVBAR -----------------------------------*/
.headerNav {
  font-family: "Vollkorn", "poppins", "roboto", "sans-serif";
  font-size: 800;
  background-color: #0fd43d0c;
}

.headerNav ul,
a {
  display: flex;
  justify-content: end;
  list-style-type: none;
  text-decoration: none;

  color: #000000;
  /* text-shadow: 1px 3px  #e5d8d8ff;*/
}

.headerNav li {
  margin: 1rem;
}

/*----------------------------- IMAGEM INICIAL-----------------------------------*/
.wel-text {
  margin-top: 20%;
  margin-right: 70%;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: (15px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 1rem;
}

.h1-title {
  font-family: "Able", sans-serif;
  font-size: 400%;
  color: #e1a700;
  margin-right: 10%;
}

.h3-title {
  margin-top: 0.4rem;
  font-family: "Comfortaa", cursive;
  font-size: 125%;
  color: #fff;
  line-height: 22px;
}

/*----------------------------- INICIO DO CONTEXTO DA PÁGINA -----------------------------------*/
.container-meio {
  margin-top: 10%;
  background-color: #221b07;
  color: antiquewhite;
  height: 193%;
  width: 100%;
}

.container-meio h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  /* animation: surgir 18s steps(45) alternate infinite;
  white-space: nowrap;
  overflow: hidden; */
}
/* 
@keyframes surgir {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

.title-divider {
  border-top: 10px ridge #d1c33d;
}

.text-1 {
  font-family: "EB Garamond", serif, "Comfortaa";
  text-align: justify;
  line-height: 1.5em;
  max-width: 680px;
  margin-top: 1.5rem;
  margin-left: 10%;
}

.credit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.credit img {
  margin-top: 2rem;
}

img {
  filter: drop-shadow(25px -8px 21px #000000);
}

.text-2 {
  font-family: "EB Garamond", serif, "Comfortaa";
  text-align: justify;
  line-height: 1.5em;
  max-width: 800px;
  margin-top: 2rem;
}

.text-1::first-letter,
.text-2::first-letter {
  font-family: "Kanit", sans-serif;
  font-size: 6.5em;
  font-weight: 700;
  float: left;
  line-height: 80px;
  margin-right: 3px;
  color: #746057;
}

/*----------------------------- GRÁFICO PIZZA 01 -----------------------------------*/

.container-grafico {
  background-color: #d1c33d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.grafico {
  margin-top: 10rem;
  width: 30%;
}

#grafico01 {
  position: static;
}

#seta01 {
  width: 40%;
  position: relative;
  top: 400px;
  right: 40px;
  filter: contrast(70%);
}

#seta02 {
  width: 40%;
  position: relative;
  bottom: 480px;
  left: 400px;
  /* transform: rotate(90deg); */
  transform: scaleX(-1);
  filter: contrast(70%);
}

#seta03 {
  width: 40%;
  position: relative;
  bottom: 625px;
  right: 40px;
  transform: rotate(180deg) scaleX(-1);
  filter: contrast(70%);
}

#porcentagem01 {
  width: 40%;
  position: relative;
  bottom: 600px;
  left: 410px;
}

#text-porcent01 {
  position: relative;
  bottom: 550px;
  left: 600px;
  max-width: 410px;
  text-align: justify;
  font-weight: bold;
}

#porcentagem02 {
  width: 40%;
  position: relative;
  top: 300px;
  right: 600px;
}

#text-porcent02 {
  position: relative;
  top: 350px;
  right: 450px;
  max-width: 410px;
  text-align: justify;
  font-weight: bold;
}

#porcentagem03 {
  width: 40%;
  position: relative;
  bottom: 600px;
  right: 600px;
}

#text-porcent03 {
  position: relative;
  bottom: 550px;
  right: 450px;
  max-width: 410px;
  text-align: justify;
  font-weight: bold;
}

/*----------------------------- GRÁFICO PIZZA 02 e 03 -----------------------------------*/

.container-grafico02 {
  background-color: #2d2301;
}

.grafico02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  width: 30%;
  margin-left: 20%;
}
#grafico02,
#grafico03 {
  padding: 2rem;
}

/*----------------------------- BOTÃO VOLTAR AO TOPO -----------------------------------*/

button {
  position: absolute;
  bottom: 3%;
  left: 0.5%;
  border-radius: 4px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: (15px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  font-style: normal;
  font-size: 20px;
  z-index: 99;
}

a.button:link {
  text-decoration: none;
}

/*----------------------------- FOOTER -----------------------------------*/

.footer {
 background: url(https://blog4.mfrural.com.br/wp-content/uploads/2021/03/girassol-capa-001.jpg) no-repeat;
 background-size: 100% 150%;
 overflow: hidden;
object-fit: cover;
background-color:#424747; 
background-blend-mode: multiply;
}

.footerContainer,
.container-1,
.container-3 {
  display: flex;
 flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.paragrafoFooter {
  margin-bottom: 3%;
  margin-top: 1.9%;
}

.primeiro_texto h2 {
  margin-bottom: 4%;
}
.segundo_texto h2 {
  margin-bottom: 4%;
}
.contato h2,
p {
  margin-bottom: 1%;
} 

/*----------------------------- SCROLL -----------------------------------*/
::-webkit-scrollbar {
  width: 10px;
} /* tamanho da linha*/

::-webkit-scrollbar-track {
  background-color: #d1c33d;
} /* cor de fundo do scrool*/

::-webkit-scrollbar-thumb {
  background-color: #322b17;
  border-radius: 20px;
} /* cor da barra de rolagem*/
