* {
  margin: 0;
  padding: 0;
 }

 body, html {
  width: 100vw;
  height: 100vh;
  background: url(https://images.pexels.com/photos/792955/pexels-photo-792955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)   no-repeat 65% 80%;
  background-color: rgb(249, 221, 221);
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.wel-text {
  margin-top: 20%;
  margin-right: 60%;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.251);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 2rem;
  margin-bottom: 5rem;
}

.h1-title {
  font-family: "Able", sans-serif;
  font-size: 400%;
  color: rgb(251, 227, 0);
  margin-right: 10%;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}

.title-divider {
  border-top: 20px ridge #f48c06;
}

.tipos{
  background-color: rgb(255, 255, 255);
  color: #dc2f02;
  text-align: center;
  }

.container-tipos{
 display: flex;
  justify-content: center;
  align-items: center;

}

.info-tipos{
  margin-left: 5%;
  max-width: 45%;
  text-align: justify;
}

#debilis, #multiflorus{
  filter: drop-shadow(10px -8px 21px #000000);
  margin-bottom: 4%;
}