html, body{
  background-color: #fdeeee !important;
}

.inicio {
  height: 100vh;
  margin-left: 50%;
  border-radius: 3%;
  background-color: rgba(75, 35, 4, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wel-text {
  text-align: center;
}

.h1-title {
  font-family: "Able", sans-serif;
  font-size: 700%;
  color: #f8a700;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}

.h3-title {
  font-family: "Vollkorn", "Cinzel", "Comfortaa";
  font-size: 215%;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
  line-height: 40px;
overflow-y: hidden;
}

/*------------------------------  TEXTOS MEIO  ------------------------------------*/

.meio {
  background-color: #fdeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 4%;
  width: 55%;
  margin-bottom: 4%;
}

#text-1,
#text-2,
#text-3,
#text-4,
#text-5 {
  font-family: "EB Garamond", serif, "Comfortaa";
  line-height: 1.5em;
  text-align: justify;
 color: #621708;
  margin-bottom: 3%;
  font-size: 1.3em;
  text-indent: 1.5em;
 }

#text-1:hover,
#text-2:hover,
#text-3:hover,
#text-4:hover,
#text-5:hover {
  font-size: 1.4rem;
}

/*------------------- SESSÃO CARDS ---------------------------*/

.sessao-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/foco-meioGirassol.jpg");
  background-size: 100%;
  background-position: 200% 85%;
  background-repeat: no-repeat;
}

.sessao-2 .container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-s2 {
  background: linear-gradient(to left, #ebc4c0fe  40%, #fdeeee 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.6s;
  padding: 25px;
  margin-bottom: 2%;
  text-decoration: none;
}

.card-s2:hover {
  transform: scale(0.8);
}

.card-s2 p {
  margin-left:1%;
  text-align: center;
}

.card-s2 img {
  width: 70px;
  height: 65px;
}

/*------------------- SESSÃO COMENTÁRIOS ---------------------------*/

#form_postagem{
  width: 100%;
}

.comentarios {
   font-family: "EB Garamond", serif, "Comfortaa";
  text-align: justify;
  color: #621708;
  font-weight: bold;
}

.infoUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_usuario,
.texto_email {
  margin-left: 2%;
  margin-right: 2%;
}

.texto_titulo,
.texto_descricao {
  margin-top: 4%;
  margin-bottom: 3%;
}

.container_geral_comentarios_publicados{
  background-color: #fdeeee !important;
}

.comentario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comentarios button {
  margin-top: 3%;
  margin-left: 38%;
  cursor: pointer;
  padding: 4px 35px;
  background-color: #391c19ba;
  color: white;
  font-weight: bold;
}

.div-form input {
  padding: 8px;
}

.avaliacao{
  margin-top: 2%;
  margin-bottom: 3%;
}

.avaliacao,
.selectAvaliacao,
.comentarios,
.utilSpan,
.util,
.div-form {
  background-color: #fdeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.util input{
  margin-left: 3%;
}

.selectAvaliacao {
  margin-left: 7%;
}

/*--------------------- GRAFICO ---------------------*/

#graficoDinamico {
  filter: drop-shadow(18px -8px 21px #000000);
 margin-left: 10%;
  margin-bottom: 5%;
}