* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e1f26;
    color:#fff;
    margin: 0px;
}

img{
    height:15px;
}

.box-container {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: start;
         flex-wrap: wrap;
         width: 95vw;
    }

#palavra-secreta{
         color: #f48c06;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: start;
         font-size: 1em;
         margin-top: 60px;
    }

#box-secreta {
         border: 1px solid #391c19ba;
         text-align:center;
         box-shadow: 0px 2px 8px #391c19ba; 
         -moz-box-shadow: 0px 2px 8px #391c19ba;
         -webkit-box-shadow: 0px 2px 8px #391c19ba;
         color: #f48c06;
         width: 350px;
         height: 200px;
         font-size: 1.0em;
         margin-top: 10px;
         padding: 10px;
    }

.box-letra {
         border: 1px solid #391c19ba; 
         text-align:center;
         box-shadow: 0px 2px 8px #391c19ba; 
         -moz-box-shadow: 0px 2px 8px #391c19ba;
         -webkit-box-shadow: 0px 2px 8px #391c19ba;
         color:#f48c06;
         cursor:pointer;  
                font-size: 0.8em;
    }

.box-letra:hover{
         color:#391c19ba;   
         }

/* .letras{
         border-bottom: 3px solid #391c19ba; 
         width: 10px;
         margin-left: 2px;
         margin-right: 2px;
    } */

#box-tentativas {
         text-align:start;
         color: #f48c06;
         width: 350px;
         height: 20px;
         margin-top: 20px;
         padding: 5px 0px;
         }

#boxResposta {
         text-align:center;
         color: #fff;
         background-color: #391c19ba;
         width: 350px;
         height: 20px;
         margin-top: 20px;
         padding: 5px 0px;
         font-size: 0.7em;
    }

    input {
     padding: 10px;
     background-color: antiquewhite;
   }

   button {
     background-color: #391c19ba;
     color: #fff;
     padding: 10px;
   }

/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (min-width: 575.98px) { 
    img{
    height:25px;
}
    #palavra-secreta{
         font-size: 1.5em;
    }

    #box-secreta {
         width: 550px;
         height: 200px;
         font-size: 1.5em;
         margin-top: 10px;
         padding: 10px;
    }

    .letras{
         width: 20px;
         margin-left: 2px;
         margin-right: 2px;
    }

    #box-tentativas {
         width: 550px;
         height: 30px;
         margin-top: 20px;
         padding: 5px 0px;
         font-size: 1.5em;
    }

    #boxResposta {
         width: 550px;
         height: 30px;
         margin-top: 20px;
         padding: 5px 0px;
         font-size: 1.2em;
    }

    .box-letra {
         width: 46px;
         height: 46px;
         margin: 8.5px;
         padding: 6px;
         font-size: 1.8em;
         cursor:pointer;
         }

    .box-letra:hover{
         color:#391c19ba;   
         font-size: 2.0em;
         cursor:pointer;
         margin: 8.5px;
         padding: 2px;
    }
    .box-container {
         width: 95vw;
    }   
}

/*Dispositivos small (telefones em modo paisagem, com menos de 768px)*/
@media (min-width: 767.98px) { 

}

/*Dispositivos médios (tablets com menos de 992px)*/
@media (min-width: 991.98px) {
        img{
    height:50px;

}
    .box-container {
         width: 95vw;
         margin:5px 10px;
    }

    #palavra-secreta{
         margin-top: 80px;
         font-size: 1.5em;
    }

    #box-secreta {
         width: 980px;
         height: 300px;
         border: 1px solid #ffffffba;
         margin-top: 30px;
         padding: 20px;
         border-radius: 20px;
         font-size: 2em;
    }

    .box-letra {
         width: 90px;
         height: 90px;
         border: 1px solid #ffffffba;
         margin: 10px;
         padding: 10px;
         border-radius: 5px;
         font-size: 3.5em;
    }

    .box-letra:hover{
         color:#391c19ba;
         font-size: 3.5em;
         padding: 2px;
    }

    .letras{
         border-bottom: 3px solid #ffffffba;
         width: 30px;
         margin-left: 10px;
         margin-right: 10px;
    }

    #box-tentativas {
         width: 980px;
         height: 70px;
         margin-top: 20px;
         padding: 10px 0px;
         font-size: 2em;
    }

#boxResposta {
         width: 980px;
         height: 50px;
         margin-top: 5px;
         padding: 10px 0px;
         font-size: 1.5em;
         border-radius:5px;
    }




    /*
    #palavra-secreta{
         font-size: 1.0em;
    }
    
    #box-secreta {
         width: 550px;
         height: 200px;
         font-size: 2.0em;
         margin-top: 10px;
         padding: 10px;
    }
    
    .letras{
         width: 20px;
         margin-left: 2px;
         margin-right: 2px;
    }
    
    #box-tentativas {
         width: 550px;
         height: 30px;
         margin-top: 20px;
         padding: 5px 0px;
         font-size: 1.0em;
    }
    
    #boxRespostafinal {
         width: 550px;
         height: 30px;
         margin-top: 20px;
         padding: 5px 0px;
         font-size: 1.2em;
    }
    
    .box-letra {
         width: 26px;
         height: 26px;
         margin: 7px;
         padding: 5px;
         font-size: 0.8em;
         cursor:pointer;
         }
    .box-container {
         width: 95vw;
    }   
    */
}

/*Dispositivos large (desktops com menos de 1200px)*/
@media (max-width: 1199.98px) {

}