@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background: url(../assets/folclore.png) no-repeat;
  background-size: 100%;
  background-color: #fdeeee;
  background-blend-mode: multiply;
  overflow-x: hidden;
  line-height: 1.5;
  color: #621708;
}

.wel-text {
  margin-top: 20%;
  margin-right: 60%;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.251);
  box-shadow: 0 0 10px 1px #391c19da;
  text-align: center;
  padding: 2rem;
  margin-bottom: 5rem;
}

.h1-title {
  font-size: 400%;
  color: rgb(251, 227, 0);
  margin-right: 10%;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}


.meio {
  background-color: #fdeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 4%;
  width: 55%;
  margin-bottom: 4%;
}

#text-1,
#text-2,
#text-3,
#text-4,
#text-5,
#text-6 {
  font-family: "EB Garamond", serif, "Comfortaa";
  line-height: 1.5em;
  text-align: justify;
 color: #621708;
  margin-bottom: 3%;
  font-size: 1.3em;
  text-indent: 1.5em;
 }

#text-1:hover,
#text-2:hover,
#text-3:hover,
#text-4:hover,
#text-5:hover,
#text-6:hover {
  font-size: 1.4rem;
}

.central{
  display: flex;
align-items: center;
justify-content: center;
  text-align: center;
}

.recent-works-card{
  overflow: hidden;
}

.recent-works-card img{
  border-radius: 50px;
  overflow: hidden;
  width:410px;
  height:270px; 
}

.recent-works-card-title {
  font-size: 25px;
  margin: 1% 0%;
  padding: 0;
  color: #fac1a4 ;
}

h1{
  text-align: center;
  color: #fac1a4 ;
  font-weight: bold;
  font-size: 2.8em;
  text-shadow: 0.1em 0.1em 0.1em rgb(75, 35, 4);
}


/*----------------------------- FOOTER -----------------------------------*/


.footerContainer h3{
  font-size: 35px;
}

.footer{
  font-size: 20px;
  background-color: #621708;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}

/*----------------------------- SCROLL -----------------------------------*/
::-webkit-scrollbar {
  width: 10px;
} /* tamanho da linha*/

::-webkit-scrollbar-track {
  background-color: #eba346;
} /* cor de fundo do scrool*/

::-webkit-scrollbar-thumb {
  background-color: #322b17;
  border-radius: 20px;
} /* cor da barra de rolagem*/


@media screen and (min-width:
1024px) {
 #main { min-width: 1000px; }
}