*{
  margin: 0;
  padding: 0;
 }


/*------------- TEXTO INICIAL  e NAVBAR ------------*/

ul{
  height: 80vh;
  width: 10vw;
  position: fixed;
  right: 0px;
  top: 0px;
background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur(81.55px );
  list-style: none;
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

ul li{
text-transform: uppercase;
  width: 115px;
  height: auto;
  display: block;
  font-family: "EB Garamond", serif, "Comfortaa";
  color: #621708;
  cursor: pointer;
}

ul li:hover{
text-decoration: underline
}

/*--------------- SOBRE MIM -----------------*/

.textoSobreMim{
  background-color: #fdeeee;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.textoSobreMim p{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: "EB Garamond", serif, "Comfortaa";
  color: #621708;
}

.textoSobreMim{
  margin-left: 8%;
}

.teste{
  background-color: #fdeeee;
  display: flex;
 }


.valores{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdeeee;
  font-size: 1.3em;
  font-family: "EB Garamond", serif, "Comfortaa";
  color: #621708;
  margin-top: 2%;
  text-transform: uppercase;
}

span{
  text-shadow: 0.1em 0.1em 0.2em rgb(255, 242, 0) !important;
}

/*----------------------------- FOOTER -----------------------------------*/


.footerContainer h3{
 
  font-size: 35px;
}

.footer{
  font-size: 20px;
  background-color: #621708;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}