* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*----------------------------- IMAGEM INICIAL-----------------------------------*/

  html, body{
    background: linear-gradient(to left, rgba(55,55,55,0.5), #fac1a4), url(https://img.freepik.com/fotos-gratis/girassois-linda-flor-no-campo_53876-14214.jpg?w=900&t=st=1683335303~exp=1683335903~hmac=9225810395c225d748467d820d3e23ff7acc5f40cd09ea3eb5d44dfbfe7264ce)
    no-repeat 65% 45%;
    width: 100%;
    height: 100vh;
  background-size: cover;
  background-blend-mode: multiply;
}

/*----------------------------- FOOTER -----------------------------------*/

.footer{
  background-color: #621708;
  text-align: center;
  color: wheat;
}

/*----------------------------- SCROLL -----------------------------------*/
::-webkit-scrollbar {
  width: 10px;
} /* tamanho da linha*/

::-webkit-scrollbar-track {
  background-color: #eba346;
} /* cor de fundo do scrool*/

::-webkit-scrollbar-thumb {
  background-color: #322b17;
  border-radius: 20px;
} /* cor da barra de rolagem*/
