@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background: url(https://images.pexels.com/photos/4301252/pexels-photo-4301252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1260&w=960)
    no-repeat 105% 65%;
  background-color: rgb(249, 221, 221);
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.wel-text {
  margin-top: 20%;
  margin-right: 60%;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.251);
  box-shadow: 0 0 10px 1px #391c19da;
  text-align: center;
  padding: 2rem;
  margin-bottom: 5rem;
}

.h1-title {
  font-size: 400%;
  color: rgb(251, 227, 0);
  margin-right: 10%;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}

.title-divider {
  border-top: 10px ridge rgb(249, 221, 221);
}

.container{
  color: white;
  font-size: 16px;
}

.tipos {
  font-family: "EB Garamond", serif, "Comfortaa";
  text-align: center;
  color: white;
  font-size: 1.1em;
  text-shadow: 0.1em 0.1em 0.2em #391c19ba;
  background-color: #fac1a4;
}

.buffs_img {
  height: 70%;
  border-radius: 18%;
  margin: 1%;
  width: 150px;
  margin-right: 5%;
}

#debilis,
#multiflorus {
  filter: drop-shadow(10px -8px 21px #000000);
  margin-bottom: 4%;
}

/*------------------------------  TEXTOS MEIO  ------------------------------------*/

.meio {
  background-color: #fac1a4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 70%;
}

#text-1,
#text-2,
#text-3,
#text-4,
#text-5 {
  font-family: "EB Garamond", serif, "Comfortaa";
  line-height: 1.5em;
  text-align: justify;
  color: white;
  margin-bottom: 4%;
  font-size: 1.1em;
  text-shadow: 0.1em 0.1em 0.2em #391c19ba;
}

h2 {
  color: white;
  margin-bottom: 2%;
  line-height: 1.5em;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #391c19ba;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
  opacity: 0.7;
  padding: 1%;
}

#text-1:hover,
#text-2:hover,
#text-3:hover,
#text-4:hover,
#text-5:hover {
  color: white;
  font-size: 1.3rem;
}

.wel-text {
  transition: 0.5s;
  animation: navegando 1s 0.5s ease-in-out;
}

@keyframes navegando {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translate3d(0);
  }
}

/* ----------------Sessão 7------------------------ */
.sessao-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fac1a4fb;
  background-image: url(../assets/perfil/perfil-comentario-icons.png);
  height: 180px;
}

.sessao-7 .content {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 80px 0px;
  gap: 20px;
}

h3{
  color: white;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 35px;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
}

.sessao-7 p{
  font-size: 27px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
  background-color: antiquewhite;
  padding: 15px 30px;
}

.links {
  text-decoration: none;
  color:inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  font-size: 20px;
}

/* ----------------Sessão 5------------------------ */
.sessao-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fac1a4;
}

.sessao-5 .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.content h1 {
  margin-top: 4%;
  margin-bottom: 1%;
  color: white;
  font-size: 36px;
  background-color: #391c19ba;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  text-shadow: 0.1em 0.1em 0.2em rgb(75, 35, 4);
  opacity: 0.7;
  padding: 1%;
}

.principais-causas {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
}

.card-S5 .face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  transition: 0.7;
  z-index: 1;
  background-color: #391c19ba;
}

.card-S5 .face.face1 {
  z-index: 2;
  transform: translateY(100px);
  background-color: rgb(75, 35, 4);
  border-radius: 8px;
  height: 250px;
  transition: 0.8s;
}

.card-S5:hover .face.face1 {
  border-end-end-radius: 0px;
  border-bottom-left-radius: 0px;
  transform: translateY(0);
}

.card-S5:hover .face.face1 h2 {
  margin-bottom: 2%;
}

.card-S5 .face.face2 {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-100px);
  width: 300px;
  height: auto;
  font-size: 14px;
  text-align: center;
}

.card-S5 .face.face2 p {
  font-size: 16px;
  text-align: justify;
}

.card-S5:hover .face.face2 {
  position: relative;
  background: rgb(75, 35, 4);
  color: #fff;
  transform: translateY(0);
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: -500px;
  display: flex;
}

.sessao-5 img {
  width: 150px;
}

.sessao-5 h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.circulo {
  background-color: white;
  border-radius: 100%;
}

.economia{
  background-color: #fac1a4;
}

.meio-1,
.meio-2,
.meio-3{
 display: flex;
  align-items: center;
  justify-content: center;
}

.text-dados {
  max-width: 50%;
  margin-left: 24%;
  text-align: center;
  margin-bottom: 3%;
}

#porcentagem02_sul,
#porcentagem01_centroOeste,
#porcentagem03_sudeste,
#porcentagem04_nordeste,
#porcentagem05_norte {
  background-color: antiquewhite;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 6em;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 3%;
}


.text-1:hover,
.text-2:hover,
.text-3:hover,
.text-4:hover,
.text-5:hover {
  font-size: 1.3rem;
}

.text-1, 
.text-2,
.text-3, 
.text-4,
.text-5 {
  max-width: 28%;
  color: white;
  font-size:1.1em;
  text-align: justify;
  margin-bottom: 2%;
}

/* 
background-image: url(../assets/pngeggg.png);
background-size:  100%;
background-position:   right bottom;
background-repeat: no-repeat;
opacity: 0.7; */